/* Content design */
#content {
  font-family: Arial, Helvetica, sans-serif;
}

.mystyle {
width: 100%;
padding: 25px;
background-color: coral;
color: white;
font-size: 25px;
box-sizing: border-box;
}
#tablecolor{
background-color: blue;
}
#bbox{
width: 70%;
height: 43%;
padding: 40px;
}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

label{
  font-size: 16px;
  font-weight: lighter;
  color: #717171;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

input{
  width: 100%;
}

h1{
  color: #717171;
}

#form-left{
  float: right;
}

#form-right{
  float: left;
}