/* Content design */
#content {
  font-family: Arial, Helvetica, sans-serif;
}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

.search{
  background-color: white;
  padding-top: 90px;
  font-family: Arial, Helvetica, sans-serif;
}

#search-head{
  background-color: black;
  color: white;
  padding-top: 1px;
  padding-left: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.selector-row{
  padding-top: 20%;
  padding-bottom: 10%;
}

#selectors{
  height: 50px;
  width: 50%;
  text-align-last: center;
  border-color: #318481;
  border-width: 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

option{
  font-family: Arial, Helvetica, sans-serif;
}

:focus{
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.flex-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap:wrap;
}
.flex-item{
  border: 1px solid #ccc; 
  margin: 5px;
  width: 300px;
  font-family: verdana;
  font-size: 14px;
  color: black;
}
.f1{
  font-family: verdana;
  font-size: 16pt;
  color: blue; 
}
.f2{
  font-family: verdana;
  font-size: 10pt;
  color: grey; 
}