* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

/* Navlist designing */
#navlist {
    overflow: hidden;
    background-color:  #b1b1b1;
    padding: 12px 10px;
    transition: 0.4s;
    width: 100%;
    top: 0;
    z-index: 1;
    margin-top: 30px;
    position: fixed;
}

#navlist a {
    float: left;
    color: rgb(0, 0, 0);
    padding: 3px;
    text-decoration: none;
    font-size: 19px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*background-color: rgb(129, 129, 129);*/
}

#navlist #logo {
    float: left;
    width: 120px;
}

#navlist a:hover {
    color: #ffffff;
}

#navlist-right {
    margin-top: .10%;
    float: left;
    margin-right: 3%;
}


/*
#socials {
    background-color: #919191;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
  }
  
  #socials a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #socials a:hover {
    background-color: #ddd;
    color: black;
  }
  */