/* The navigation bar */
.navbar2 {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 30px;
    border-bottom: 2px solid #318481;
    z-index: 10;
  }
  
  /* Links inside the navbar */
  .navbar2 a {
    color: #717171;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    margin-top: 2px;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Change background on mouse-over */
  .navbar2 a:hover {
    color: #a7a7a7;
  }

  /*Teal Color Code 00A79D*/